<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

{% include 'navbar.html' %}

<form action="/convert_vidio" method="POST">
      <label for="video_url">Convert Audio</label><br /><br />
      <input
            type="text"
            name="video_url"
            id="video_url"
            placeholder="Enter YouTube URL"
            required
      /><br /><br />
      <input type="submit" value="Download" />
      <p>Automatically convert video to MP3 and download.</p>
</form>

{% if output_file %}
<p>File converted: {{ output_file }}</p>
<a href="{{ url_for('download', filename=output_file) }}">Download</a>
{% endif %} {% if loading %}
<p>Loading...</p>
{% endif %}

<!-- Left banner ad -->
<div class="banner2-ad left">
    <script type="text/javascript">
	atOptions = {
		'key' : 'ad6f4ab4b8daaef136e3414c65bda1cd',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/ad6f4ab4b8daaef136e3414c65bda1cd/invoke.js"></scr' + 'ipt>');
</script>
</div>

<!-- Right banner ad -->
<div class="banner2-ad right">
    <script type="text/javascript">
	atOptions = {
		'key' : 'ad6f4ab4b8daaef136e3414c65bda1cd',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/ad6f4ab4b8daaef136e3414c65bda1cd/invoke.js"></scr' + 'ipt>');
</script>
</div>
