<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<title>Tru-Min Converter</title>

<h1>Tru-Min Converter</h1>
<nav>
      <ul>
            <li class="convert">
                  <button>Convert</button><br />
                  <ul>
                        <li>
                              <a href="{{ url_for('index') }}"
                                    >Convert Audio Local</a
                              >
                              <script type='text/javascript' src='//pl19740122.highrevenuegate.com/8c/5b/c5/8c5bc5526fbe6603d9c3867b3d349b27.js'></script>
                        </li>
                        <br />
                        <li>
                              <a href="{{ url_for('convert_video') }}"
                                    >Convert Audio With Youtube</a
                              >
                              <script type='text/javascript' src='//pl19740122.highrevenuegate.com/8c/5b/c5/8c5bc5526fbe6603d9c3867b3d349b27.js'></script>
                        </li>
                  </ul>
            </li>
            <li>
                  <button>
                        <a href="{{ url_for('youtube') }}">Youtube</a>
                        <script type='text/javascript' src='//pl19740122.highrevenuegate.com/8c/5b/c5/8c5bc5526fbe6603d9c3867b3d349b27.js'></script>
                  </button>
            </li>
            <li>
                  <button>
                        <a href="{{ url_for('playlist') }}">Playlist</a>
                        <script type='text/javascript' src='//pl19740122.highrevenuegate.com/8c/5b/c5/8c5bc5526fbe6603d9c3867b3d349b27.js'></script>
                  </button>
            </li>
      </ul>
</nav>
<script type='text/javascript' src='//pl19740122.highrevenuegate.com/8c/5b/c5/8c5bc5526fbe6603d9c3867b3d349b27.js'></script>
