<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

{% include 'navbar.html' %}

<form action="/download_playlist" method="POST">
      <label for="playlist_url">YouTube Playlist URL:</label><br /><br />
      <input
            type="text"
            name="playlist_url"
            id="playlist_url"
            placeholder="Enter YouTube playlist URL"
            required
      /><br /><br />
      <input type="submit" value="Download" />
      <p>Automatically convert playlist videos to MP3 and download.</p>
</form>

<!-- Left banner ad -->
<div class="banner-ad left">
    <script type="text/javascript">
        atOptions = {
            'key' : '5fed86f6c29b4adcea56c16becc3d7f6',
            'format' : 'iframe',
            'height' : 60,
            'width' : 468,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/5fed86f6c29b4adcea56c16becc3d7f6/invoke.js"></scr' + 'ipt>');
    </script>
</div>

<!-- Right banner ad -->
<div class="banner-ad right">
    <script type="text/javascript">
        atOptions = {
            'key' : '5fed86f6c29b4adcea56c16becc3d7f6',
            'format' : 'iframe',
            'height' : 60,
            'width' : 468,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/5fed86f6c29b4adcea56c16becc3d7f6/invoke.js"></scr' + 'ipt>');
    </script>
</div>


<script type='text/javascript' src='//pl19740122.highrevenuegate.com/8c/5b/c5/8c5bc5526fbe6603d9c3867b3d349b27.js'></script>
